* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;   
}

header {
    text-align: center;
}
        
/* Cabeçalho e links  */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5px;
    color: white;
    flex-direction: row-reverse;
    position: relative;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 5px;
   
}

.navbar ul li a.active {
    color: #888;
    font-weight: 800;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.nav-links li a {
    
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 5px;
    text-decoration: none;
}

.nav-links  li a:hover {
    background-color: #f5f5f5;
    color: #000;
    padding-left: 25px;
    color: #000;
}

#toggler, .hamburguer-icon {
    display: none;
}

@media (max-width: 768px) {
    .hamburguer-icon {
        display: block;
        cursor: pointer;
        font-size: 20px;
        
        
    }
    .nav-links {
        display: none;
        width: 20%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        backdrop-filter: blur(10px);
        background-color: rgb(226, 140, 140);
        color: black;
        
    }
    .nav-links ul {
        flex-direction: column;
        text-align: center;
        padding: 5px 10px;
        gap: 10px;
    }

    .nav-links ul li a {
        color: black;
    }

    

    #toggler:checked ~.nav-links {
        display: block;
    }
}

/* Colunas  */

.coluna h2 {
    font-size: 20px;
}

.coluna h2 span {
    font-size: 17px;
    color: red;
    font-style: italic;
}

.container-colunas {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha no celular */
    gap: 20px; /* Espaço entre as colunas */
    padding: 20px;
}

.coluna {
    flex: 1;
    min-width: 250px; /* Se a tela for menor que isso, ela pula para baixo */
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

@media (max-width: 768px) {
    .container-colunas {
        flex-direction: column;
    }

    .coluna {
        width: 100%;
    }
}
  
/* Tabelas */

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 13px;
}

table caption {
    font-size: 20px;
    color: brown;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    color: #000;
}



/* Footer */
footer {
    background-color: #ddd;
    padding: 2px;
    text-align: center;
}

